/* ---------------------------------
    Header
--------------------------------- */

header {

  text-align: center;

}

header h1 {

  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.3px;
  margin: 0 0 3rem 0;

}

header h2 {

  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2.5rem;

}

.close__project {

  margin: 0 1rem 0 0;
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 1.3rem;
  color: white;

}

.close__background {

  position: fixed;
  top: 0;
  right: 2rem;
  height: 4rem;
  width: 3rem;
  background-color: gray;
  z-index: -1;

}
