/* ---------------------------------
    Mockups
--------------------------------- */

.unsemanticMocksWrapper {

  background-color: grey;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;

}

.section__mock {

  background-color: white;

}


