/* ---------------------------------
    Project Page
--------------------------------- */

.section__image {

  max-width: 70%;
  margin: 3rem auto 3rem auto;
  z-index: -2;

}

.project__video {

  max-width: 70%;
  margin: 3rem auto 3rem auto;
  
}

.project__unsemanticImageWrapper {

  height: 15rem;
  overflow: hidden;
  margin: 0 0 3rem 0;
  position: relative;

}

.project__cover {

  width: 100%;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.project__article {

  margin-left: auto;
  text-align: left;
  margin-right: auto;
  width: 50vw;

}


.article__paragraph {

  line-height: 1.6rem;
  width: 50vw;
  margin-top: 0.5rem;
  margin-bottom: 3rem;

}

.project__section {

  margin: 3rem 0;

}

.section__title {

  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;

}

.project__end {

  text-align: center;
  margin: 3rem 0;
  font-weight: 700;
  font-size: 1.3rem;

}

.cover__zeitgeist {

  bottom: -28vw;

}

.cover__aguacu {

  bottom: -3vw;

}

.cover__migros {

  bottom: -33vw;

}

.cover__lightbox {

  bottom: -16vw;

}

.cover__lecture-voter {

  bottom: -13vw;

}

.cover__node-rover {

  bottom:-37vw;

}

.cover__palantir {

  bottom: -36vw;

}
