/* ---------------------------------
    Timeline
--------------------------------- */

.timeline {

  overflow: hidden;
  position: relative;
  padding: 3rem 0 0 0;

}

.timeline__section {

  width: 100%;
  height: auto;
  float: left;
  display: block;
  color: white;
  padding: 0 0 7rem 0;

}

.timeline__section_title {

  float: left;
  margin: 1rem 0 0 1rem;

}

.timeline__section--gbm {

  background-color: rgb(235, 203, 23);

}

.timeline__section--oi {

  background-color: rgb(132, 191, 198);

}

.timeline__section--ma {

  background-color: rgb(233, 110, 76);

}

.timeline__projects,
.timeline__line {

  padding: 2rem;
  margin: 0 auto;
  display: block;
  max-width: 800px;

}

.timeline__line {

  position: relative;
  height: 100%;
  width: 100%;

}

.timeline__line:after {

  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  left: calc(60% + 50px - 2px + 2.5rem - 6px);
  /* calc(<width of unsemanticTitleWrapper> + <left of :after (bullet)> - <width of bullet/2> + <line/2>
   * - <padding of parent element>) */

}

.timeline__unsemanticLineWrapper {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.project {

  width: 100%;
  display: block;
  float: left;
  min-height: 5rem;
  position: relative;
  margin: 5rem 0 0 0;

}

.project__bullet {

  float: left;
  width: 40%;
  height: 100%;
  position: relative;

}

.project__bullet:before {

  content: '';
  width: 1.5rem;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 15px;

}

.project__bullet:after {

  content: '';
  width: 5rem;
  height: 5rem;
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50px;
  margin: -2.5rem 0 0 0;

}

.project--gbm {

  background-color: rgb(235, 203, 23);

}

.project--oi {

  background-color: rgb(132, 191, 198);

}

.project--ma {

  background-color: rgb(233, 110, 76);

}

.project__unsemanticTitleWrapper {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  height: 100%;
  float: left;

}

.project__title {

  display: block;
  text-align: right;
  float: left;
  width: 9rem;
  line-height: 1.4rem;
  
}

.project__link {

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;

}
