/* ---------------------------------
    Global
--------------------------------- */
/* line 5, ../sass/_global.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 11, ../sass/_global.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/_global.scss */
html {
  font-family: effra, sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
}

/* line 28, ../sass/_global.scss */
body {
  overflow-x: hidden;
}

/* line 34, ../sass/_global.scss */
body a {
  text-decoration: none;
  color: inherit;
}

/* line 41, ../sass/_global.scss */
.project__unsemanticContentWrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 51, ../sass/_global.scss */
main {
  margin: 0 auto;
}

/* line 57, ../sass/_global.scss */
img {
  display: block;
  margin: 0 auto;
}

/* ---------------------------------
    Header
--------------------------------- */
/* line 5, ../sass/_header.scss */
header {
  text-align: center;
}

/* line 11, ../sass/_header.scss */
header h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.3px;
  margin: 0 0 3rem 0;
}

/* line 21, ../sass/_header.scss */
header h2 {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2.5rem;
}

/* line 29, ../sass/_header.scss */
.close__project {
  margin: 0 1rem 0 0;
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 1.3rem;
  color: white;
}

/* line 40, ../sass/_header.scss */
.close__background {
  position: fixed;
  top: 0;
  right: 2rem;
  height: 4rem;
  width: 3rem;
  background-color: gray;
  z-index: -1;
}

/* ---------------------------------
    Timeline
--------------------------------- */
/* line 5, ../sass/_timeline.scss */
.timeline {
  position: relative;
  padding: 3rem 0 0 0;
  float: left;
  width: 100%;
  margin: 0;
}

/* line 15, ../sass/_timeline.scss */
.timeline__title {
  margin: 3rem 0 0 0;
}

/* line 21, ../sass/_timeline.scss */
.timeline__subtitle {
  line-height: 0;
}

/* line 27, ../sass/_timeline.scss */
.timeline__section {
  width: 100%;
  height: auto;
  float: left;
  display: block;
  color: white;
  padding: 0 0 7rem 0;
}

/* line 38, ../sass/_timeline.scss */
.timeline__section_title {
  float: left;
  margin: 1rem 0 0 1rem;
}

/* line 45, ../sass/_timeline.scss */
.timeline__section--gbm {
  background-color: #ebcb17;
}

/* line 51, ../sass/_timeline.scss */
.timeline__section--oi {
  background-color: #84bfc6;
}

/* line 57, ../sass/_timeline.scss */
.timeline__section--ma {
  background-color: #e96e4c;
}

/* line 63, ../sass/_timeline.scss */
.timeline__section--palantir {
  background-color: #a20efe;
}

/* line 69, ../sass/_timeline.scss */
.timeline__projects,
.timeline__line {
  padding: 2rem;
  margin: 0 auto;
  display: block;
  max-width: 800px;
}

/* line 79, ../sass/_timeline.scss */
.timeline__projects {
  background-color: inherit;
}

/* line 85, ../sass/_timeline.scss */
.timeline__line {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 93, ../sass/_timeline.scss */
.timeline__line:after {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  left: calc(60% + 50px - 2px + 2.5rem - 6px);
  /* calc(<width of unsemanticTitleWrapper> + <left of :after (bullet)> - <width of bullet/2> + <line/2>
   * - <padding of parent element>) */
}

/* line 107, ../sass/_timeline.scss */
.timeline__unsemanticLineWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 117, ../sass/_timeline.scss */
.project {
  width: 100%;
  display: block;
  float: left;
  min-height: 5rem;
  position: relative;
  margin: 5rem 0 0 0;
}

/* line 128, ../sass/_timeline.scss */
.project__link:hover .project__bullet:after {
  border-width: 20px;
}

/* line 134, ../sass/_timeline.scss */
.project__link:after {
  background-color: inherit;
  height: 0;
  width: 600vw;
  position: absolute;
  left: -200vw;
  top: -200vh;
  content: '';
  z-index: 1;
  -webkit-transition: height 0.8s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
          transition: height 0.8s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
}

/* line 148, ../sass/_timeline.scss */
.project__link:active:after {
  height: 600vh;
}

/* line 154, ../sass/_timeline.scss */
.project__bullet {
  float: left;
  width: 40%;
  height: 100%;
  position: relative;
}

/* line 163, ../sass/_timeline.scss */
.project__bullet:before {
  content: '';
  width: 1.5rem;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 15px;
}

/* line 175, ../sass/_timeline.scss */
.project__bullet:after {
  content: '';
  width: 5rem;
  height: 5rem;
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50px;
  margin: -2.5rem 0 0 0;
  -webkit-transition: border 0.15s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
          transition: border 0.15s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
  background-color: inherit;
}

/* line 191, ../sass/_timeline.scss */
.extra__bullet {
  float: left;
  width: 40%;
  height: 100%;
  position: relative;
}

/* line 200, ../sass/_timeline.scss */
.extra__bullet:before {
  content: '';
  width: 1.5rem;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 15px;
  display: none;
}

/* line 213, ../sass/_timeline.scss */
.extra__bullet:after {
  content: '';
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50px;
  margin: -2.5rem 0 0 0;
  -webkit-transition: border 0.15s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
          transition: border 0.15s cubic-bezier(0.68, 0.52, 0.39, 1) 0s;
}

/* line 227, ../sass/_timeline.scss */
.project--gbm {
  background-color: #ebcb17;
}

/* line 233, ../sass/_timeline.scss */
.project--oi {
  background-color: #84bfc6;
}

/* line 239, ../sass/_timeline.scss */
.project--ma {
  background-color: #e96e4c;
}

/* line 245, ../sass/_timeline.scss */
.project__unsemanticTitleWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 100%;
  float: left;
}

/* line 257, ../sass/_timeline.scss */
.project__title {
  display: block;
  text-align: right;
  float: left;
  width: 9rem;
  line-height: 1.4rem;
}

/* line 267, ../sass/_timeline.scss */
.project__link {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  background-color: inherit;
}

/* ---------------------------------
    Project Page
--------------------------------- */
/* line 5, ../sass/_project_page.scss */
.section__image {
  max-width: 70%;
  margin: 3rem auto 3rem auto;
  z-index: -2;
}

/* line 13, ../sass/_project_page.scss */
.project__video {
  max-width: 70%;
  margin: 3rem auto 3rem auto;
}

/* line 20, ../sass/_project_page.scss */
.project__unsemanticImageWrapper {
  height: 15rem;
  overflow: hidden;
  margin: 0 0 3rem 0;
  position: relative;
}

/* line 29, ../sass/_project_page.scss */
.project__cover {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* line 39, ../sass/_project_page.scss */
.project__article {
  margin-left: auto;
  text-align: left;
  margin-right: auto;
  width: 50vw;
}

/* line 49, ../sass/_project_page.scss */
.article__paragraph {
  line-height: 1.6rem;
  width: 50vw;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

/* line 58, ../sass/_project_page.scss */
.project__section {
  margin: 3rem 0;
}

/* line 64, ../sass/_project_page.scss */
.section__title {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

/* line 73, ../sass/_project_page.scss */
.project__end {
  text-align: center;
  margin: 3rem 0;
  font-weight: 700;
  font-size: 1.3rem;
}

/* line 82, ../sass/_project_page.scss */
.cover__zeitgeist {
  bottom: -28vw;
}

/* line 88, ../sass/_project_page.scss */
.cover__aguacu {
  bottom: -3vw;
}

/* line 94, ../sass/_project_page.scss */
.cover__migros {
  bottom: -33vw;
}

/* line 100, ../sass/_project_page.scss */
.cover__lightbox {
  bottom: -16vw;
}

/* line 106, ../sass/_project_page.scss */
.cover__lecture-voter {
  bottom: -13vw;
}

/* line 112, ../sass/_project_page.scss */
.cover__node-rover {
  bottom: -37vw;
}

/* line 118, ../sass/_project_page.scss */
.cover__palantir {
  bottom: -36vw;
}

/* ---------------------------------
    Mockups
--------------------------------- */
/* line 5, ../sass/_mockups.scss */
.unsemanticMocksWrapper {
  background-color: grey;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

/* line 14, ../sass/_mockups.scss */
.unsemanticMocksWrapper img.section__mock {
  background-color: white;
  margin: 3rem auto;
}

/* ---------------------------------
    Code Snippets
--------------------------------- */
/* line 5, ../sass/_code_snippets.scss */
.section__code {
  width: 100%;
  margin: 0 auto;
}

/* line 12, ../sass/_code_snippets.scss */
code.hljs {
  width: 80%;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  padding: 3rem 1rem;
  background: #23241f;
  line-height: 1.6rem;
}

/* ---------------------------------
    Media Queries
--------------------------------- */
@media all and (max-width: 900px) {
  /* line 7, ../sass/_media_queries.scss */
  .project__cover {
    bottom: 0;
  }

  /* line 13, ../sass/_media_queries.scss */
  .section__image {
    max-width: 95%;
  }

  /* line 19, ../sass/_media_queries.scss */
  .project__article {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  /* line 27, ../sass/_media_queries.scss */
  .article__paragraph {
    width: 80vw;
  }
}
@media all and (max-width: 500px) {
  /* line 38, ../sass/_media_queries.scss */
  .project__cover {
    max-height: 110%;
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */