%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Corporate Design</br>Fazenda Agua&ccedil;u
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/aguacu_cover.jpg", :alt => "Aguacu Cover", :class => "project__cover"}
    %article.project__article
      %h3.article__title
        Intro
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %h3.section__title
        Moodboards
      %img{:src => "../img/aguacu_moodboard01.png", :alt => "Aguacu Moodboard", :class => "section__image"}
      %img{:src => "../img/aguacu_moodboard02.png", :alt => "Aguacu Moodboard", :class => "section__image"}
      %img{:src => "../img/aguacu_moodboard03.png", :alt => "Aguacu Moodboard", :class => "section__image"}
    %section.project__section
      %h3.section__title
        Logo System
      %img{:src => "../img/aguacu_logosystem01.png", :alt => "Aguacu Logosystem", :class => "section__image"}
      %img{:src => "../img/aguacu_logosystem02.png", :alt => "Aguacu Logosystem", :class => "section__image"}
      %img{:src => "../img/aguacu_logosystem03.png", :alt => "Aguacu Logosystem", :class => "section__image"}
      %img{:src => "../img/aguacu_logosystem04.png", :alt => "Aguacu Logosystem", :class => "section__image"}
