%header
  %h1 Corporate Design</br>Fazenda Agua&ccedil;u
  %img{:src => "../img/aguacu_cover.jpg", :alt => "Aguacu Cover", :class => "project__cover"}
  %article.project__article
    %h3.article__title
      Intro
    %p.article__paragraph
      Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

%main
  %img{:src => "../img/aguacu_moodboard01.jpg", :alt => "Aguacu Moodboard"}
