%header
  %h1 Corporate Design Fazenda Agua&ccedil;u
  %img{:src => "img/aguacu_cover.png", :alt => "Aguacu Cover"}
  %p.intro

%main
  %img{:src => "img/aguacu_moodboard.png", :alt => "Aguacu Moodboard"}
