%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Corporate Design</br>Fazenda Agua&ccedil;u
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/aguacu_cover.jpg", :alt => "Aguacu Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Moodboards
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_moodboard01.png", :alt => "Aguacu Moodboard", :class => "section__image"}
      %img{:src => "../img/aguacu_moodboard02.png", :alt => "Aguacu Moodboard", :class => "section__image"}
      %img{:src => "../img/aguacu_moodboard03.png", :alt => "Aguacu Moodboard", :class => "section__image"}
      %article.project__article
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts.
    %section.project__section
      %article.project__article
        %h3.section__title
          Logo System
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_logosystem01.png", :alt => "Aguacu Logosystem", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Farbkonzept
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_farbkonzept.png", :alt => "Aguacu Schriftkonzept", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Schriftkonzept
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_schriftkonzept01.png", :alt => "Aguacu Schriftkonzept", :class => "section__image"}
      %img{:src => "../img/aguacu_schriftkonzept02.png", :alt => "Aguacu Schriftkonzept", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Briefschaften
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_briefschaften.png", :alt => "Aguacu Briefschafetnn", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Pr&auml;sentation
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_praesentation.png", :alt => "Aguacu Pr&auml;sentation", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Shirt
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/aguacu_shirt.png", :alt => "Aguacu Schriftkonzept", :class => "section__image"}
