%header
  %h1 Corporate Design Fazenda Agua&ccedil;u
  %img{:src => "../img/aguacu_cover.jpg", :alt => "Aguacu Cover"}
  %p.intro

%main
  %img{:src => "../img/aguacu_moodboard01.jpg", :alt => "Aguacu Moodboard"}
