!!!
%html
  %head
    %title Colin Schmid – Portfolio ZHdK
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "../styles/reset.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "../styles/main.css", :media => "screen", :rel => "stylesheet"}/
    %script{:src => "//use.typekit.net/qlk1ggs.js"}
    :javascript
      try{Typekit.load();}catch(e){}

    %body
      =yield
