<!DOCTYPE html>
<html>
  <head>
    <title>Colin Schmid – Portfolio ZHdK</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='../styles/css/main.css' rel='stylesheet'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css' rel='stylesheet'>
    <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js'></script>
    <script src='//use.typekit.net/qlk1ggs.js'></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script>
      try{Typekit.load();}catch(e){}
    </script>
  </head>
  <body>
  <%=yield%>
  </body>
</html>

