%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Lecture-Voter
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/lecture-voter_cover.png", :alt => "Lecture-Voter Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Mockups
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
    %section.unsemanticMocksWrapperj
      %img{:src => "../img/lecture-voter_mockups01.png", :alt => "Lecture-Voter Mockups", :class => "section__mock"}
      %img{:src => "../img/lecture-voter_mockups02.png", :alt => "Lecture-Voter Mockups", :class => "section__mock"}
      %img{:src => "../img/lecture-voter_mockups03.png", :alt => "Lecture-Voter Mockups", :class => "section__mock"}
