%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Logo</br>Lightbox Solutions
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/lightbox_cover.png", :alt => "Lightbox Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Moodboard
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_moodboard.png", :alt => "Lightbox Moodboard", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Exploration
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_scribbles.png", :alt => "Lightbox Exploration", :class => "section__image"}
      %img{:src => "../img/lightbox_exploration.png", :alt => "Lightbox Exploration", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Komposition
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_composition.png", :alt => "Lightbox Komposition", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Varianten
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_varianten-02.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-03.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-04.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-05.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-06.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-07.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-08.png", :alt => "Lightbox Varianten", :class => "section__image"}
      %img{:src => "../img/lightbox_varianten-01.png", :alt => "Lightbox Varianten", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Farbkonzept
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_farbkonzept.png", :alt => "Lightbox Farbkonzept", :class => "section__image"}
    %section.project__section
      %article.project__article
        %h3.section__title
          Website
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/lightbox_website.png", :alt => "Lightbox Website", :class => "section__image"}
