%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Infografiken</br>Migros Aare
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/migros_cover.png", :alt => "Migros Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Moodboard
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/migros_moodboard.png", :alt => "Migros Moodboard", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Vektoren
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/migros_vektoren-01.png", :alt => "Migros Vektoren", :class => "section__image"}
      %img{:src => "../img/migros_vektoren-02.png", :alt => "Migros Vektoren", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Druck
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/migros_druck.jpg", :alt => "Migros Druck", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Produkt
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/migros_produkt-01.png", :alt => "Migros Produkt", :class => "section__image"}
      %img{:src => "../img/migros_produkt-02.png", :alt => "Migros Produkt", :class => "section__image"}
      %article.project__article
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork.
