%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Node-Rover
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/node-rover_cover.png", :alt => "Node-Rover Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Trello Board
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/node-rover_trello.png", :alt => "Node-Rover Trello Board", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Wireframes
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/node-rover_wireframes.png", :alt => "Node-Rover Wireframes", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Mockup
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/node-rover_mockups.png", :alt => "Node-Rover Mockup", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Mockup
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %script{:src => "https://gist.github.com/mala23/8a191c2269ae061a0176.js"}
