<div class='project__unsemanticContentWrapper'>
  <header class='project__header'>
    <div class='project__unsemanticImageWrapper' style='background-color:#333'>
      <img alt='Palantir Cover' class='project__cover cover__palantir' src='http://res.cloudinary.com/halunka/image/upload/v1425398450/palantir%20jpg/palantir.jpg'>
    </div>
    <a class='close__project' href='/'>
      &times;
    </a>
    <div class='close__background'></div>
    <h1>Palant&iacute;r</h1>
    <article class='project__article'>
      <p class='article__paragraph'>
      Im Rahmen meiner Bewerbung für den Studiengang Interaction Design an der Zürcher Hochschule der Künste bekam ich die Hausaufgabe das Thema «teilen» in konzeptioneller und gestalterischer Form umzusetzen.
      </p>
      <p class='article__paragraph'>
      Das Thema «teilen» habe ich in dieser Arbeit zu «Unbewusstes und Unfreiwilliges Teilen» weiterentwickelt. Ich habe zu diesem Thema eine Installation konzipiert und gestalterisch umgesetzt, sowie die zugehörige Web App und ein Netzwerk-Abhörgerät gebaut und programmiert.
      </p>
      <p class='article__paragraph'>
      Mein Ziel dabei war einerseits das Betreten unbekannten Terrains – im technologischen wie auch im gestalterisch-thematischen Bereich.Andererseits hat die Installation auch ganz klar eine Netzpolitische und Sozialkritische Funktion. Sie soll den User aufrütteln, zum Denken anstossen. Wir leben in einer hochtechnologischen Welt, im Alltag benutzen wir ganz selbstverständlich Technologien, von denen wir häufig nicht mal ein oberflächiches Verständnis besitzen. Was passiert, wenn man dies dem Alltäglichen Nutzer vor Augen führt?
      </p>
      <p class='article__paragraph'>
      Im Feld Interaction Design sind häufig auch Mechanismen zu beachten, welche auf den ersten Blick nicht zwingend dem Feld des Interaction Designs zugeschrieben werden. Auch wenn der User nicht selbstbestimmt mit einer Technologie interagiert besteht eine «User Experience», die sorgfältig konzipiert und gestaltet werden will. Vor solchen und ähnlichen Problemen stand ich während dieser Arbeit. Ich habe Unmengen an neuem Wissen angesammelt.
      </p>
    </article>
  </header>
  <main>
    <section class='project__section'>
      <article class='project__article'>
        <h3 class='section__title'>
          Die Dokumentation
        </h3>
        <p class='article__paragraph'>
        Als Web Developer bin ich es mir gewohnt, meine Arbeit während dem Prozess genau zu dokumentieren, dies habe ich auch mit der vorliegenden Dokumentation angewandt.
        </p>
        <div data-configid="1570710/11685255" style="width:50vw; height:50vw;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script> 
      </article>
    </section>
    <section class='project__end'>
      <a class='timeline__link' href='/'>
        Zur&uuml;ck zur Timeline
      </a>
    </section
  </main>
</div>
