%header
  %h1 Colin Schmid
  %h2 Portfolio ZHdK

%main
  %ul.timeline
    %li.timeline-section
      %a{:href => "#"}
        Gestalterische Berufsmatura
    %ul.section-projects
      %li.project
        %a{:href => "#"}
          Buch Zeitgeist 3D-Druck
      %li.project
        %a{:href => "/gbm/corporate-design-fazenda-aguacu"}
          Corporate Design Fazenda Agua&ccedil;u

    %li.timeline-section
      %a{:href => "#"}
        Internship on-IDLE in London
    %ul.section-projects
      %li.project
        %a{:href => "#"}
          Infografiken Migros Aare
      %li.project
        %a{:href => "#"}
          Logo Lightbox Solutions

    %li.timeline-section
      %a{:href => "#"}
        Makers Academy in London
    %ul.section-projects
      %li.project
        %a{:href => "#"}
          Lecture Voter
      %li.project
        %a{:href => "#"}
          Node-Rover
