%header
  %h1 Colin Schmid
  %h2 Portfolio ZHdK

%main
  %ul.timeline
    %div.timeline__line
    %li.timeline__section
      %a{:href => "#"}
        Gestalterische Berufsmatura
      %ul.timeline__projects
        %li.project
          %a{:class => "project__link", :href => "/gbm/zeitgeist"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Buch &laquo;Zeitgeist 3D-Druck&raquo;
            %div.project__bullet
        %li.project
          %a{:class => "project__link", :href => "/gbm/aguacu"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Corporate Design Fazenda Agua&ccedil;u
            %div.project__bullet

    %li.timeline__section
      %a{:href => "#"}
        Internship on-IDLE in London
      %ul.timeline__projects
        %li.project
          %a{:class => "project__link", :href => "/oi/migros"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Infografiken Migros Aare
            %div.project__bullet
        %li.project
          %a{:class => "project__link", :href => "/oi/lightbox"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Logo Lightbox Solutions
            %div.project__bullet

    %li.timeline__section
      %a{:href => "#"}
        Makers Academy in London
      %ul.timeline__projects
        %li.project
          %a{:class => "project__link", :href => "/ma/lecture-voter"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Lecture Voter
            %div.project__bullet
        %li.project
          %a{:class => "project__link", :href => "/ma/node-rover"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Node-Rover
            %div.project__bullet
