%header
  %h1 Colin Schmid
  %h2 Portfolio ZHdK

%main
  %ul.timeline
    %div.timeline__line
    %li.timeline__section
      %a{:href => "#"}
        Gestalterische Berufsmatura
      %ul.timeline__projects
        %li.project
          %a{:href => "#"}
            Buch Zeitgeist 3D-Druck
        %li.project
          %a{:class => "project__link", :href => "/gbm/corporate-design-fazenda-aguacu"}
            %div.project__unsemanticTitleWrapper
              %h3.project__title Corporate Design Fazenda Agua&ccedil;u
            %div.project__bullet

    %li.timeline__section
      %a{:href => "#"}
        Internship on-IDLE in London
      %ul.timeline__projects
        %li.project
          %a{:href => "#"}
            Infografiken Migros Aare
        %li.project
          %a{:href => "#"}
            Logo Lightbox Solutions

    %li.timeline__section
      %a{:href => "#"}
        Makers Academy in London
      %ul.timeline__projects
        %li.project
          %a{:href => "#"}
            Lecture Voter
        %li.project
          %a{:href => "#"}
            Node-Rover
