<header>
  <h1 class='timeline__title'>Colin Schmid</h1>
  <h2 class='timeline__subtitle'>Portfolio ZHdK</h2>
</header>
<main>
  <ul class='timeline'>
    <div class='timeline__unsemanticLineWrapper'>
      <div class='timeline__line'></div>
    </div>
    <li class='timeline__section timeline__section--gbm'>
      <a class='timeline__section_title' href='#'>
        Gestalterische Berufsmatura
        </br>2012-2013
      </a>
      <ul class='timeline__projects'>
        <li class='project project--gbm'>
          <a class='project__link' href='/gbm/zeitgeist'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Buch &laquo;Zeitgeist 3D-Druck&raquo;</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
        <li class='project project--gbm'>
          <a class='project__link' href='/gbm/aguacu'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Corporate Design Fazenda Agua&ccedil;u</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
      </ul>
    </li>
    <li class='timeline__section timeline__section--oi'>
      <a class='timeline__section_title' href='#'>
        Internship on-IDLE in London
        </br>2013-2014
      </a>
      <ul class='timeline__projects'>
        <li class='project project--oi'>
          <a class='project__link' href='/oi/migros'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Infografiken Migros Aare</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
        <li class='project project--oi'>
          <a class='project__link' href='/oi/lightbox'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Logo Lightbox Solutions</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
      </ul>
    </li>
    <li class='timeline__section timeline__section--ma'>
      <a class='timeline__section_title' href='#'>
        Makers Academy in London
        </br>2014
      </a>
      <ul class='timeline__projects'>
        <li class='project project--ma'>
          <a class='project__link' href='/ma/lecture-voter'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Lecture-Voter</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
        <li class='project project--ma'>
          <a class='project__link' href='/ma/node-rover'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Node-Rover</h3>
            </div>
            <div class='project__bullet'></div>
          </a>
        </li>
      </ul>
    </li>
    <li class='timeline__section timeline__section--palantir'>
      <a class='timeline__section_title' href='#'>
        Hausaufgabe &laquo;teilen&raquo;
        </br>2015
      </a>
      <ul class='timeline__projects'>
        <li class='project project--palantir'>
          <a class='project__link' href='/palantir'>
            <div class='project__unsemanticTitleWrapper'>
              <h3 class='project__title'>Hausaufgabe </br>Palant&iacute;r</h3>
            </div>
            <div class='extra__bullet'></div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</main>
