%div.project__unsemanticContentWrapper
  %header.project__header
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Zeitgeist</br>3D-Druck
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/zeitgeist_cover.png", :alt => "Zeitgeist Cover", :class => "project__cover"}
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Titel
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
