%div.project__unsemanticContentWrapper
  %header.project__header
    %div.project__unsemanticImageWrapper
      %img{:src => "../img/zeitgeist_cover.png", :alt => "Zeitgeist Cover", :class => "project__cover"}
    %a{:href => '/', :class => "close__project"}
      &times;
    %h1 Zeitgeist</br>3D-Druck
    %article.project__article
      %p.article__paragraph
        Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.

  %main
    %section.project__section
      %article.project__article
        %h3.section__title
          Eindr&uuml;cke
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/zeitgeist_portraits.png", :alt => "Zeitgeist Portraits", :class => "section__image"}
      %img{:src => "../img/zeitgeist_konzeption.png", :alt => "Zeitgeist Konzeption", :class => "section__image"}
      %img{:src => "../img/zeitgeist_replicator.png", :alt => "Zeitgeist Replicator", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Das Buch
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/zeitgeist_layoutmaketten.png", :alt => "Zeitgeist Layoutmaketten", :class => "section__image"}
      %img{:src => "../img/zeitgeist_icons.png", :alt => "Zeitgeist Icons", :class => "section__image"}
          
    %section.project__section
      %article.project__article
        %h3.section__title
          Technologien
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/zeitgeist_technologien1.png", :alt => "Zeitgeist FDM", :class => "section__image"}
      %img{:src => "../img/zeitgeist_technologien2.png", :alt => "Zeitgeist Laser Sintering", :class => "section__image"}
      %img{:src => "../img/zeitgeist_technologien3.png", :alt => "Zeitgeist Stereolithografie", :class => "section__image"}

    %section.project__section
      %article.project__article
        %h3.section__title
          Produkte und Prototypen
        %p.article__paragraph
          Seitan Williamsburg mlkshk, tilde freegan stumptown locavore letterpress Pitchfork. Organic fixie pour-over fashion axe, umami Tumblr Kickstarter raw denim Schlitz Odd Future quinoa jean shorts. Dreamcatcher aesthetic tote bag cliche Odd Future migas bitters hoodie skateboard church-key distillery.
      %img{:src => "../img/zeitgeist_inearcarrier.png", :alt => "Zeitgeist Inearcarrier", :class => "section__image"}
      %img{:src => "../img/zeitgeist_goldenerschnitt.png", :alt => "Zeitgeist Goldener Schnitt Zirkel", :class => "section__image"}
      %img{:src => "../img/zeitgeist_Kabelmanager.png", :alt => "Zeitgeist Kabelmanager", :class => "section__image"}
